body{background-image: url('assets/CardBackground.svg');
background-size: cover;
font-family: "Montserrat", serif;
height: 100vh;

}

.logo-container{
    /* width: 10%; */
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    /* width: 15%; */
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 10px;
  }

  
.card{
    margin: auto;
    position: relative;
    width: 300px;
    height: 450px;
    background-color: #516850;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 12px;

}

.noise {
        /* ... */
        background: 
        linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(26,26,26,1) 0%, rgba(81,104,80,1) 100%),
        url("assets/noise.svg");
        /* contrast(170%) brightness(1000%); */
      }
      .overlay {
        /* ... */
        background: moccasin;
        mix-blend-mode: multiply;
      }

/* font styling */
h1{
    font-weight: 450;
    font-size: 40px;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    
}
h2{
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
}

/* svg style and hover effects */
svg{
    fill: white;    
  }

  a{
    fill: white;
  }

  svg:hover{
    fill: #516850;
  }

  a:hover{
    fill: #516850;
  }

  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }